body {
    max-width: 1920px;
    position: relative;
}
header {
    position: absolute;
    width: 100%;
}
.logo {
    height: 100px;
    width: 100%;
    background-color: #7EBFE2;
    &_img {
        padding: 10px 0;
        display: block;
        margin: 0 auto;
    }
    &_contacts {
        padding: 25px;
        a {
            transition: 0.5s all;
            @include link_hover;
            color: #ffffff;
        }
    }
}
nav {
    border-radius: 0 0 30px 30px;
    height: 78px;
    background-color: #88C9ED;
    width: 100%;
    a { 
        @include link_hover;
        transition: 0.5s all;
        color: #ffffff;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;
    margin: 0;
    list-style-type: none;
}

.main {
    @include bg;
    background-color: #E7F6FF;
    background-image: url('../../image/background/BG1.png');
    
    
    &_header {
        color: $font;
        padding-top: 358px;
        font-weight: bold;
        text-align: center;
        font-size: 200px;
        margin-bottom: 0;
        line-height: 223px;
    }
    &_divider{
        margin: 0 auto;
        background-color: $font;
        width: 431px;
        height: 7px;
    }
    &_subheader {
        text-align: center;
        color: $font;
        padding-top:36px;
        font-size: 40px;
        margin-bottom: 0;
    }
}
.ellipse {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    width: 142px;
    padding: 20px 0 20px 0;
}
.about-us {
    background-color: #DAF1FF;
    padding: 70px 0;
  
    &_item {
        margin-top: 70px;
        background-color: #fff;
        border-radius: 30px;
        &_header {
            padding-top: 32px;
          @include font-header;
        }
        &_descr {
            padding: 15px 30px 32px 30px;
            text-align: justify;
            font-size: 20px;
            line-height: 50px;
        }
    }
}
.advantages {
    background-color: #D0EDFF;
    padding: 70px 0;
    &_block {
      &_icon {
          display: block;
          margin: 0 auto;
          margin-top: 70px;
      }
      &_descr {
          display: block;
          margin: 0 auto;
          min-height: 295px;
          width: 440px;
          margin-top: 30px;
          background-color: #fff;
          text-align: justify;
          padding: 20px 20px;
          border-radius: 30px;
          font-size: 20px;
          line-height: 50px;
      }
    }
}
.opportunities {
    background-color: #C7E9FD;
    padding-top: 70px;
    &_header {
        margin-top: 35px;
        text-align: center;
        font-size: 27px;
    }
   &_block {
    &_subheader {
        margin-top: 25px;
        text-align: center;
        font-size: 30px;
    }
    &_icon {
        display: block;
        margin: 0 auto;
        margin-top: 23px;
    }
   
    /*&_list {
        padding: 0 60px 0 70px;
        max-width: 500px;
        margin-top: 56px;
        background-color: #fff;
        border-radius: 30px;
        font-size: 20px;
        line-height: 40px;
        list-style-image: url('../../image/icons/check-square-regular\ 1.svg');
        text-align: justify;
        li {
            padding-top:10px;
            &:first-child {
                padding-top:35px;
            }
            &:last-child {
                padding-bottom:10px;
            }
        }
    }*/
    &_list {
        margin: 0 auto;
        margin-bottom: 70px;
        min-height: 436px;
        max-width: 500px;
        margin-top: 56px;
        list-style: none;
        padding-left: 50px;
        background-color: #fff;
        border-radius: 30px;
        li {
          position: relative;
          font-size: 20px;
          line-height: 40px;
          margin-bottom: 10px;
          &:first-child {
              padding-top: 35px;
              &:before {
                content: '';
                left: -29px;
                top: 43px;
                width: 21px;
                height: 21px;
                background: url('../../image/icons/check-square-regular\ 1.svg') center (center / cover) no-repeat;
              }
          }
     
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: -29px;
            top: 8px;
            width: 21px;
            height: 21px;
            background: url('../../image/icons/check-square-regular\ 1.svg') center (center / cover) no-repeat;
          }
        }
       
      }
      .future {
        li {
            &:first-child {
                &:before {
                  background: url('../../image/icons/spinner-solid\ 1.svg') center (center / cover) no-repeat;
                }
            }
            &:before {
              background: url('../../image/icons/spinner-solid\ 1.svg') center (center / cover) no-repeat;
            }  
        }
    }
   }
}
.contacts {
    padding-top: 70px;
    @include bg;
    background-color: #B7E4FF;
    background-image: url('../../image/background/BG2.png');
    &_item {
        margin-top: 70px;
        background-color: #fff;
        border-radius: 30px;
        &_header {
            padding-top: 50px;
            @include font-header;
        }
        &_descr {
            padding: 18px 30px 14px 30px;
            font-size: 20px;
            line-height: 50px;
            text-align: justify;
        }
        &_connection {
            &_title {
                @include font-header;
                padding: 0 12px;
            }
            &_link {
                padding-bottom: 55px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                a {
                    padding-right: 40px;
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}