@media screen and (min-width: 1920px) {
    body {
        max-width: 1920px;
        margin: 0 auto !important;
        
    }
}
/*@media (max-width: 1920px) {
    .main, .contacts {
        max-height: 1080px;
    }
}*/
@media (min-width: 1441px) {
    .main, .contacts {
        min-height: 1080px;
    }
}
@media (max-width:1440px) {
  .main {
      &_subheader {
          font-size: 36px;
      }
  }
  .about-us, .opportunities, .advantages, .contacts {
    padding-top: 30px;
  }
  
  .contacts {
    background-size: 700px;
      max-height: 900px;
      &_item {
        margin-top: 30px;
        max-width: 975px;
        margin: 30px auto;
          &_header {
            padding-top: 25px;
          }
          &_descr {
            line-height: 40px;
          }
          &_connection {
              &_link {
                padding-bottom: 30px;
              }
          }
      }
    }
}
@media (max-width:1200px) {
    .main {
        &_header {
            font-size: 190px;
            padding-top: 290px;
        }
        &_divider {
            width: 410px;
        }
        &_subheader {
            padding-top: 26px;
            font-size: 31px;
        }
    }
    .about-us {
        padding: 30px 0;
        &_item {
            &_descr {
                line-height: 45px;
            }
        }
    }
    .advantages {
        padding: 30px 0;
        &_block {
          
            &_icon {
                display: block;
                margin: 0 auto;
                margin-top: 50px;
            }
            &_descr {
                min-height: 250px;
                width: 410px;
                line-height: 40px;
            }
        }
    }
    .opportunities {
        padding: 30px 0;
        &_header {
            font-size: 24px;
        }
        &_block {
            &_subheader {
                font-size: 26px;
            }
            &_list {
                min-height: 395px;
                li {
                    line-height: 36px;
                }
            }
        }
       
    }
    .contacts {
        padding: 30px 0;
        &_item {
            &_header {
                line-height: 40px;
            }
            &_connection {
                &_title {
                    line-height: 40px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .about-us {
        &_item {
            margin-top: 40px;
            &_header {
                font-size: 22px;
                line-height: 45px;
            }
            &_descr {
                font-size: 18px;
                line-height: 40px;
            }
        }
    }
    .advantages {
       &_block {
           &_descr {
               width: 450px;
           }
       } 
    }
    .contacts {
        padding-bottom: 0;
        background-image: none;
        &_item{
            margin-bottom: 0;
        &_connection_title {
            font-size: 22px;
            line-height: 35px;
        }
        }
    }
}
@media (max-width: 767px) {
    .logo {
        border-radius: 0 0 30px 30px;
        &_contacts {
            padding-top: 20px;
            a {
                font-size: 15px;
            }
        }
    }
   nav {
    background: none;
    a {
        font-size: 22px;
    }
   }
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color:#88C9ED;
        transition: 0.6s all;
        z-index: 2;
        &_active {
            border-radius: 0 30px 30px 0 ;
            left: 0;
        }
    }
  
    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
        top: 30%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        z-index: 3;

        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 3px;
            transition: 0.5s all;
        }

        &_active {
            top: 6%;
            position: fixed;
            transition: 0.9s;
            left: 40%;
            span {
                margin-bottom: -2px;

                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }

            }
        }

    }
    .ellipse {
        padding: 15px 0;
        width: 130px;
    }
    .main {
        &_header {
            font-size: 160px;
            line-height: 180px;
        }
        &_subheader {
            font-size: 29px;
            z-index: 1;
        }
    }
    .about-us {
        &_item {
            &_header {
                font-size: 21px;
                line-height: 35px;
            }
            &_descr {
                line-height: 35px;
            }
        }
    }
    .advantages {
        &_block {
            &_descr {
                min-height: 150px;
                font-size: 18px;
                line-height: 35px;
            }
        }
    }
    .opportunities {
        padding-bottom: 0;
        &_header {
            font-size: 22px;
        }
        &_block {
            &_subheader {
                margin-top: 20px;
                font-size: 24px;
            }
            &_descr {
                min-height: 370px;
                margin: 40px auto;
            }
        }
    }
    .contacts {
       &_item {
        &_header {
            font-size: 22px;
            line-height: 35px;
        }
        &_descr {
            font-size: 18px;
            line-height: 35px;
            padding: 12px 30px;
        }
        &_connection {
            font-size: 20px;
        }
       }
    }
}