@mixin link_hover {
    &:hover {  
        color: $font;
        text-decoration: none;
        cursor: pointer;
    }
  }
  @mixin bg {
    height: 1080px;
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: 100%;
  }
  @mixin font-header {
      font-size: 24px;
      line-height: 50px;
      text-align: center;
  }